
    :root{
        --predominant-text-color:#757575;
        --predominant-titl-color: #212121;
        --minor-title-coolor: #FFFFFF;
        --hover-kolor:#2196F3;
        --babackground-predominant-color:#E5E5E5;
        --babackground-minor-color:#2F303A;
        --background-color: #F5F4FA;
        --background-nice-color: #FFFFFF;
        --padding-section:94px;
         --contact-soc:#AFB1B8;
         --modal-color-title:#212121;
      }
      